<!DOCTYPE html>
<html lang="en">
<title>F2F Sparring Schedule | Smmartist</title>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<style>
    body {
        background-color: #585858;
    }

    .top-bar {
        width: auto;
        height: 75px;
        background-color: #343333;
        display: flex;
        flex-wrap: nowrap;
    }

    #search-bar {
        height: 25px;
        width: 400px;
        border-width: 3px;
        border-radius: 5px;
        border-color: #ff0f0f;
        vertical-align: 95%;
    }

    #venues{
        background-color: #000000;
        color: #ffffff;
        width: 150px;
        height: 50px;
        margin-left: 330px;
        margin-top: 75px;
        font-size: 55px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }

</style>

<head>

</head>

<body>
    <thead>
        <tr>
            <th width="100">Venue image</th>
            <th width="100">Venue name</th>
            <th width="100">Venue address</th>
        </tr>
    </thead>
    <tbody>
        <% for(let 1=0; i < venues.length; i++) { %>
            <tr>
                <td><img src = "<%= venues[i].img %>" width="20%"></td>
                <td><%= venues[i].name %></td>
                <td><%= venues[i].address %></td>
            </tr>
        <% } %>
    </tbody>
</body>





</html>