<html>
<head></head>

<body>
    <form action="/delete_account" method="POST">
        <div class="inputbox3">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <button type="submit">delete</button>
    </form>

</body>



</html>